@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-neutral-50 dark:bg-neutral-950 text-neutral-900 dark:text-white;
		@apply antialiased;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
